.main {
  height: 100vh;
  background: linear-gradient(0deg, rgba(38, 37, 52, 0.72) 0%, rgba(38, 37, 52, 0.72) 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.24) 100%),
    url("../images/body-back.jpg"),
    lightgray 0% 0% / 1.9999999552965164px 1.9999999552965164px repeat;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
