@import "../../../sass/helper";

.navBar {
  max-height: 55px;
  height: 100%;
}

.navList {
  width: 100%;
  flex-wrap: nowrap;
  overflow: auto;
  display: flex;
  align-items: center;
}

.navItem,
.navItemActive {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }
}

.navItemActive {
  box-shadow: 0px 4px 8px 0px rgba(103, 100, 241, 0.16) inset;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom: none;
}

.navButton,
.navButtonActive {
  padding-top: 14px;
  padding-bottom: 14px;
  transition: color 300ms ease;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(24/14);
  white-space: nowrap;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.navButton {
  color: #9C9CB0;
}

.navButtonActive {
  color: #6764F1;
}